
.topContainer{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #075b0a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    
}

.scrollProgressTrackingContainer{
    width: 100%;
    height: 10px;
    background-color: #aaf900;
    margin-top:10px;
    
}

.currentProgressBar{
    height: 10px;
    background: #8b02b5;
    width: 0%;
   

}
.dataContainer{
    text-align: center;
    margin: 25px;
    padding: 30px;
}
.product{
    line-height: 30px;
    font-size: 20px;
}
